# Python
*.pyc
__pycache__/
venv/
env/
*.env

# Flask
instance/

# System
.DS_Store

# IDE
.vscode/
.idea/

# Virtual environment
ENV/

# Environment variables
.env
.env.local
.env.*.local

# Render
render.yaml